*
!Dockerfile
!.dockerignore
!pyproject.toml
!uv.lock
!README.md
!LICENSE
!dander.yaml
!src/
!src/**
!connectors/
!connectors/**
!graphs/
!graphs/**
!models/
!models/**
!examples/
!examples/**
!infra/
!infra/**
!scripts/
!scripts/spark_driver.py
!dist/
!dist/*.whl
infra/.DS_Store
infra/.terraform/
infra/**/.terraform/
infra/**/__pycache__/
infra/**/*.tfplan
infra/**/*.tfstate*
infra/**/*.tfvars
